  <div class="bg-white sticky top-0 flex space-x-3 py-12 lg:py-6 px-12 shadow-lg ">
    <div class="flex-grow font-bold uppercase text-7xl lg:text-4xl"><%= link_to 'logo', root_path %></div>
    <div class="flex space-x-16 lg:space-x-8 text-6xl lg:text-3xl text-gray-600">
      <div><i class="fa fa-search"></i></div>
      <div><i class="fa fa-bell"></i></div>
      <div class="text-black">
        <%= link_to new_article_path do %>
          <i class="fa fa-plus  bg-gray-600 text-white rounded-full p-4 lg:p-2 w-full"></i>
        <% end %>
      </div>
    </div>
  </div>